<div id="big_drawer">
  <div id="drawer_holder">
    <div id="burger" src="#"></div>
    <div id="drawer">
      <img id="wallpaper">
      <img id="round_pic">

      <ul id="drop_down">
        <li id="top_div"><a href="">About Me</a></li>
        <li id="top2_div"><a href="">Projects</a></li>
        <li id="bottom_div"><a href="">Work</a></li>
        <li id="last_div"><a href="">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
