<div id="my_pastries">
  <img id="cookies" src="cookies.jpeg">
  <img id="cake" src="cake.jpeg">
  <img id="muffin" src="muffin.jpg">
</div>


<script>
  //if statements depending on which is clicked
  //use javascript to set the innerHTML of elements based on ruby values
  //target cookie 1 price <p> tag and set its innerHTML to cooke1price
</script>
